body 
{
    padding-top: 50px;
     font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 24px;
}
  
  
  
  .navbar { padding:10px 0; }
  .navbar-inverse 
  { 
    background-color: #1F6EA9; 
    border: none; 
    border-bottom: 2px solid white; 
  }
  
  .navbar-inverse .navbar-brand
  {
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
  }
  
  .navbar-inverse .navbar-brand:hover 
  {
    color: #17537F;
  }
  
  .navbar-inverse .navbar-nav>li>a 
  {
    color: white;
  }
  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
   {
    background-color: #17537F;
  }
  
  
  .banner 
  {
      background: url('http://cdn.supercell.com/supercell.com/151120111628/all/themes/supercell/img/parallax/coc_fallback_large.jpg');
      background-repeat:no-repeat;
      background-position: top center;
      background-size: cover;
  height: 80%;
   }
  header .container 
  {
    padding-top: 100px;
    padding-bottom:200px;
    text-shadow:  2px 2px 0px rgba(150, 150, 150, 1);  
  }
  
  
  header .btn
   {
    border-color: #70aede;
    background-color: white;
    text-shadow: none;
  }
  
  .intro-text .naslov
   {
    display: block;
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px; 
    color: white;
  }
  
  h2
   {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px; 
    color: #1F6EA9;
    padding-top: 30px;
    padding-bottom: 30px;
    
  }
  
  .ikonica 
  {
    font-size: 50px;
    padding: 20px
  
  }
  .intro-text .tekst
   {
  color: rgb(162, 155, 70);
    text-shadow:  1px 1px 15px rgba(0, 0, 0, 1);
  font-weight: bold;
      padding: 30px 0;
  }
  
   hr.star-primary 
  {
      margin: 25px auto 30px;
      padding: 0 0 30px 0; /* samo bottom ima padding */
      max-width: 250px;
      border: 0;
      border-top: solid 5px;
      text-align: center;
       border-color: #1F6EA9;
  }
  
  hr.star-primary:after
   {
      content: "\f005";
      display: inline-block;
      position: relative;
      top: -.8em;
      padding: 0 .25em;
      font-family: FontAwesome;
      font-size: 2em;
    color: #1687dd;
      background-color: #fff;
  }
  
  footer, #portfolio 
  {
    background-color: #EEEFEF;
    padding: 30px 0;
  }
  
  #portfolio hr.star-primary:after 
  {
    background-color: #EEEFEF;
  }